<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AstroMan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74B23BCD1E05F13000105827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B23BE71E05F13000105827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B23BF21E05F13000105827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
